/* Applique une police de caractères Arial à tout le contenu du body et un arrière-plan gris clair */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

form {
    width: 25%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 10px;
    margin: 20px 20px;
}

/* Ajoute une marge en bas de chaque élément de formulaire */
form div {
    margin-bottom: 20px;
}

/* Applique une police en gras pour les labels et ajoute une marge en bas */
form label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

/* Applique un style pour les champs de formulaire */
form input[type="text"], form input[type="date"], form input[type="email"], form input[type="tel"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

/* Change la bordure pour les champs de formulaire sélectionnés */
form input:focus {
    border: 1px solid #4CAF50;
}

/* Centre les boutons du formulaire */
.form-action {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Applique un style pour les boutons de formulaire */
.form-action input[type="submit"], .form-action input[type="reset"] {
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/* Ajoute un espace entre les boutons */
.form-action input[type="submit"] {
    margin-right: 10px;
}

/* Donne un style pour la table */
table {
    width: 100%;
    margin: 20px  20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0px 0px 10px 0px #ccc;
    border: 1px solid black;
}

/* Donne un style pour les cellules */
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

/* Donne un style pour les en-têtes de table */
th {
    background-color: #4CAF50;
    color: white;
}

/* Donne une couleur de fond pour les lignes impaires */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.container {
    display: flex;
}

#edit, #delete {
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}